<launch>
  <arg name="can_port" default="can1" />
  <arg name="auto_enable" default="true" />
  <arg name="gripper_val_mutiple" default="1" />

  <arg name="max_iterations" default="50"/>                                                
  <arg name="damping_factor" default="0.1"/>                                               
  <arg name="publish_rate" default="30"/>  <!-- 'c' for CPU or 'g' for GPU post-processing -->                                                                                          
  <arg name="use_analytic_ik" default="false"/>                                            
                                                                                             
                                                                                             
  <node pkg="piper_kinematics" type="piper_ik_node" name="piper_ik_node" output="screen">  
      <param name="max_iterations" value="$(arg max_iterations)"/>                         
      <param name="damping_factor" value="$(arg damping_factor)"/>                         
      <param name="publish_rate" value="$(arg publish_rate)"/>                             
      <param name="use_analytic_ik" value="$(arg use_analytic_ik)"/>                       
  </node>                                                                                  
                                                                                             
  <node pkg="piper_kinematics" type="interactive_pose_marker.py" name="interactive_pose_marker_node" output="screen">                                                                   
  </node>

  <!--include file="$(find piper_description)/launch/piper_with_gripper/display_urdf_ik.launch"/-->
  <!-- 启动机械臂节点 -->
  <node name="piper_ctrl_single_node" pkg="piper" type="piper_ctrl_single_node.py" output="screen">
    <param name="can_port" value="$(arg can_port)" />
    <param name="auto_enable" value="$(arg auto_enable)" />
    <param name="gripper_val_mutiple" value="$(arg gripper_val_mutiple)" />
    <!-- <param name="rviz_ctrl_flag" value="true" /> -->
    <param name="girpper_exist" value="true" />
    <remap from="joint_ctrl_single" to="/joint_states" />
  </node>
</launch>
