casadi==3.7.2
cv_bridge==1.13.0.post0
dashscope==1.25.5
deepdiff==8.6.1
dlib==20.0.0
draccus==0.10.0
einops==0.8.1
fastapi<0.113.0
ffmpeg_python==0.2.0
Flask==3.1.2
funasr==1.1.6
gradio>=4.43.0,<6.0
gymnasium==1.2.2
homunculus==0.0.0b0
keyboard==0.13.5
lerobot==0.4.2
matplotlib==3.10.8
mediapipe==0.10.31
modelscope_studio==1.6.1
numpy>=1.23.0,<2.3.0  # (Python 3.10 Compatiable)
open3d==0.19.0
openai==2.15.0
opencv_python==4.10.0.82
opencv_python_headless==4.10.0.82
pandas==2.3.3
Pillow<12.0
piper_sdk==0.6.1
pygame==2.6.1
pyserial==3.5
pytest==9.0.2
pyzbar==0.1.9
pyzmq==27.1.0
qrcode==8.2
qwen_vl_utils==0.0.14
Requests==2.32.5
rospkg==1.6.1
scipy>=1.10.0,<1.16.0
setuptools==80.9.0
soundfile==0.12.1
termcolor==3.3.0
torch==2.7.1
tqdm==4.66.6
transformers==4.36.2
transforms3d==0.4.2
ultralytics==8.4.6
uvicorn==0.17.5
viser==0.2.11
yourdfpy==0.0.59
