<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="lekiwi_ros2_control" params="hardware_mode">
    <ros2_control name="LeKiwiBaseSystem" type="system">
      <hardware>
        <xacro:if value="${hardware_mode == 'mock'}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </xacro:if>
      </hardware>

      <joint name="base_back_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="base_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="base_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
