<?xml version="1.0"?>
<launch>

<!-- Startup Script for launching UBRobot Sensors, e.g. cameras and piper arms. -->

<include file="$(find realsense2_camera)/launch/rs_camera.launch" ns="cam_front">
   	<arg name="serial_no" value="419522070679"/>
   	<arg name="align_depth"   value="true"/>
   	<arg name="enable_gyro"   value="false"/>
   	<arg name="enable_accel"  value="false"/>
   	<arg name="enable_infra1" value="false"/>
   	<arg name="enable_infra2" value="false"/>
	<arg name="gyro_fps"      value="200"/>
	<arg name="accel_fps"     value="100"/>
   	<arg name="enable_sync"   value="true"/>
   	<arg name="initial_reset"   value="true"/>
   	<arg name="depth_width" value="640"/>
   	<arg name="depth_height" value="480"/>
   	<arg name="color_fps" value="15"/>
   	<arg name="color_width" value="640"/>
   	<arg name="color_height" value="480"/>
</include>

<!--
<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
   <param name="use_mag"       value="false"/>
   <param name="publish_tf"    value="false"/>
   <param name="world_frame"   value="enu"/>
   <remap from="/imu/data_raw" to="/cam_front/camera/imu"/>
   <remap from="/imu/data"     to="/rtabmap/imu"/>
</node>
-->	
<include file="$(find rtabmap_launch)/launch/rtabmap.launch">
	<arg name="rtabmap_args"      value="--delete_db_on_start --Optimizer/GravitySigma 0.3 --Odom/Strategy 0"/>
	<arg name="rgb_topic"         value="/cam_front/camera/color/image_raw"/>
	<arg name="depth_topic"       value="/cam_front/camera/aligned_depth_to_color/image_raw"/>
	<arg name="camera_info_topic" value="/cam_front/camera/color/camera_info"/>
	<arg name="visual_odometry"   value="true"/>
	<arg name="approx_sync"       value="false"/>
	<arg name="frame_id"          value="camera_link"/>
   	<!--arg name="imu_topic"         value="/rtabmap/imu"/-->
   	<arg name="rtabmap_viz"        value="false"/>
   	<arg name="rviz"              value="false"/>
</include>

<!--
<include file="$(find piper)/launch/start_single_piper.launch">
   <arg name="can_port" value="can0" />
   <arg name="auto_enable" value="true" />
   <arg name="gripper_val_mutiple" value="1" />
</include>
-->

<include file="$(find piper_with_gripper_moveit)/launch/demo.launch">
   <arg name="use_rviz" default="false" />
</include>

</launch>
